<?xml version="1.0"?>
<!--
    Ningauble of The Seven Eyes
    Iain Brookshaw
    Copyright (c), 2020. All Rights Reserved
    MIT License

    Master Xacro file for the Ningauble robot, all major components are imported
    to this file to assemble this modular machine

    see: https://github.com/ros/urdf_sim_tutorial/blob/master/urdf/13-diffdrive.urdf.xacro
-->
<robot name="ningauble" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- MUST be included first -->
    <xacro:include filename="$(find ning_urdf)/urdf/math.xacro" />

    <!-- actual robot components -->
    <xacro:include filename="$(find ning_urdf)/urdf/chassis.xacro" />
    <xacro:include filename="$(find ning_urdf)/urdf/sensor_head.xacro" />
    <xacro:include filename="$(find ning_urdf)/urdf/x_drive_base.xacro" />
    <xacro:include filename="$(find ning_urdf)/urdf/ningauble.gazebo" />
</robot>