<launch>
  <!-- 
    Mobile Robot: Launchfile for the simulator
    Iain Brookshaw
    Copyright (c), 2019. All Rights Reserved
    MIT License

    This launches the stand-alone simulator with the mobile robot model and ROS
    connections

    To Run:
      roslaunch mobile_robot_launch gazebo.launch
    
    Notes:
      - the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable
    -->
  
  <!-- start from the default empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">

    <arg name="world_name"   value="$(find mobile_robot_gazebo)/worlds/mobile_robot_empty.world"/> 
    <arg name="paused"       value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui"          value="true"/>
    <arg name="recording"    value="false"/>
    <arg name="debug"        value="false"/>
  
  </include>

  <!-- Convert an xacro and put on parameter server -->
  <!-- NOTE: if using the ROS controller with gazebo, this must be 'robot_description'! -->
  <param 
    name    = "/robot_description"
    command = "$(find xacro)/xacro $(find mobile_robot_gazebo)/urdf/mobile_robot_basic.urdf.xacro" />

  <!-- Spawn a robot into Gazebo -->
  <node 
    name = "spawn_urdf"
    pkg  = "gazebo_ros" 
    type = "spawn_model"
    respawn = "false"
    output  = "screen"
    args    = "-unpause -param robot_description -urdf -model mobile_robot" />
      

  <!-- Fire up its motor controllers -->
  <include file="$(find mobile_robot_control)/launch/mobile_robot.launch"/>


</launch>