<launch>
  <!-- 
    Mobile Robot: Launchfile for the simulator
    Iain Brookshaw
    Copyright (c), 2019. All Rights Reserved
    MIT License

    This launches the stand-alone simulator with the mobile robot model and ROS
    connections

    To Run:
      roslaunch mobile_robot_launch gazebo.launch
    
    Notes:
      - the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable
    -->
  
  <!-- start from the default empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">

    <arg name="world_name"   value="$(find mobile_robot_gazebo)/worlds/mobile_robot_empty.world"/> 
    <arg name="paused"       value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui"          value="true"/>
    <arg name="recording"    value="false"/>
    <arg name="debug"        value="false"/>
  </include>

  <!-- Load the robot description -->
  <arg name="model" default="$(find mobile_robot_gazebo)/urdf/mobile-robot-basic.urdf.xacro"/>
  <param name="mobile_robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name = "urdf_spawner"
        pkg  = "gazebo_ros"
        type = "spawn_model"
        args = "-z 1.0 -unpause -urdf -model robot -param mobile_robot_description"
        respawn = "false"
        output  = "screen" />
  
</launch>